name: GitHub Branch CI

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:
    inputs:
      git-ref:
        description: Git Hash (Optional)
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    # -l: login shell, needed when using Conda run:
    shell: bash -l {0}

jobs:
  code-formatting:
    name: Check code formatting (Black)
    # OS and/or Python version don't make a difference, so we choose ubuntu and 3.10 for performance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Black
        run: |
          pip install black
      - name: Run Black to verify that the committed code is formatted
        run: |
          black --check --diff .

  spell-check:
    name: Check Spelling
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Spell Checker
        uses: crate-ci/typos@master
        with: 
          config: ./.github/workflows/typos.toml

  build:
    name: ${{ matrix.os }}/${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix: 
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      
      - name: Set up Miniconda Python
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python }}
          conda-remove-defaults: true
          auto-update-conda: false
          channels: conda-forge

      - name: Install Python packages (conda)
        run: |
          # Set up environment
          conda config --set always_yes yes
          
          echo "Install Python packages"
          conda install --yes --quiet pip setuptools wheel
          # Install dependencies needed for testing 
          conda install --yes --quiet pytest highspy 
          
          echo "Final conda environment:"
          conda list | sed 's/^/    /'

      - name: Install idaes-gtep
        run: |
          pip install -e .
          
      - name: Run Tests
        run: |
          pytest -v gtep
